@import "tailwindcss";

@theme {
  --color-background: #111827;
  --color-card: #1F2937;
  --color-primary: #0084ff;
  --color-primary-hover: #3ba3ff;
  --color-foreground: #f9fafb;
  --color-muted: #9ca3af;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}